.footer {
  margin-top: 160px;
  margin-bottom: 74px;
}

.footer__container {
  max-width: 1160px;
  margin: 0 auto;
  display: flex;
}

.footer__title {
  font-weight: 600;
  font-size: 18px;
  line-height: 32px;
  color: #141517;
  margin: 0;
}

.footer__wrapper {
  margin-top: 20px;
  display: flex;
}

.footer__directions {
  margin: 0;
  padding: 0;
  list-style-type: none;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  color: rgba(20, 21, 23, 0.5);
  margin-right: 50px;
}

.directions__item {
  margin-bottom: 10px;
}

.directions__item {
  width: max-content;
}

.footer__column {
  position: relative;
}

.footer__column--center {
  border-right: 1px solid #D7D9DF;
  border-left: 1px solid #D7D9DF;
  padding-left: 65px;
  padding-right: 65px;
}

.footer__column--end {
  margin-left: 55px;
}

.footer__subtitle {
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  color: rgba(20, 21, 23, 0.5);
  margin: 0;
  min-width: 320px;
  margin-top: 20px;
}

.footer__link--mail {
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  text-decoration-line: underline;
  color: #FE7865;
  margin-top: 25px;
  display: flex;
  margin-bottom: 20px;
}

.footer__link--mail svg {
  margin-right: 15px;
}

.footer__link--tel svg{
  margin-right: 15px;
}

.footer__link--tel {
  font-weight: normal;
  font-size: 16px;
  line-height: 32px;
  text-decoration-line: underline;
  color: #FE7865;
}

@media(max-width: 1024px) {
  .footer {
    margin-top: 80px;
    margin-bottom: 54px;
  }

  .footer__container {
    flex-wrap: wrap;
    padding: 0 21px;
    position: relative;
    justify-content: center;
  }

  .footer__directions {
    margin-right: 30px;
  }

  .footer__column {
    margin-right: 50px;
  }

  .footer__column--center {
    margin-right: 0;
    padding-right: 0;
    padding-left: 50px;
    border-right: none;
  }

  .footer__column--end {
    margin: 0;
    margin-top: 60px;
    text-align: center;
  }

  .footer__column--end:before {
    content: '';
    display: block;
    width: 100%;
    background-color: #D7D9DF;
    height: 1px;
    position: absolute;
    top: -30px;
  }
}

@media(max-width: 768px) {
  .footer {
    margin-top: 60px;
  }

  .footer__wrapper {
    flex-wrap: wrap;
    justify-content: center;
  }

  .footer__container {
    flex-direction: column;
  }

  .footer__directions {
    width: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
  }

  .footer__column {
    margin-right: 0;
  }

  .footer__column--center {
    border-left: none;
    margin-top: 60px;
    padding: 0;
    align-items: center;
    display: flex;
    flex-direction: column;
  }

  .footer__column--center:before {
    content: '';
    display: block;
    width: 100%;
    background-color: #d7d9df;
    height: 1px;
    position: absolute;
    top: -30px;
  }

  .footer__title {
    text-align: center;
  }
}

