@import "./colors.scss";
@import "./fonts.scss";

@import "./header.scss";
@import "./promo.scss";
@import "./places.scss";
@import "./tours.scss";
@import "./info.scss";
@import "./footer.scss";

.body {
  font-family: Montserrat, Arial;
  margin: 0;
  padding: 0;
}

.main-container {
  max-width: 1170px;
  margin: 0 auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
