.tours__container {
  margin: 0 auto;
  max-width: 1444px;
  background-image: url("../img/tours.png");
  min-height: 1088px;
  background-position-y: 105px;
  background-repeat: no-repeat;
}

.tours__tubs {
  max-width: 1170px;
  margin: 0 auto;
}

.tubs__list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  border-bottom: 1px solid rgba(44, 46, 63, 0.3);
  width: fit-content;
}

.tubs__link {
  border: none;
  outline: none;
  background-color: #FFFFFF;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  text-align: center;
  color: rgba(44, 46, 63, 0.3);
  padding: 0;
  padding-bottom: 15px;
}

.tubs__link--active {
  color: #FE7865;
}

.tubs__item {
  margin-right: 99px;
}

.tubs__item:last-child {
  margin-right: 0;
}

.tours__content {
  margin: 65px auto 0 auto;
  max-width: 1170px;
  position: relative;
}

.content__title {
  margin: 0;
  font-weight: 600;
  font-size: 55px;
  line-height: 90px;
  color: #2C2E3F;
  position: relative;
}

.content__title:after {
  content: '';
  width: 228px;
  height: 4px;
  background-color: #fe7865;
  position: absolute;
  left: 0;
  top: 100px;
}

.content__subtitle {
  font-weight: normal;
  font-size: 16px;
  line-height: 28px;
  color: rgba(44, 46, 63, 0.7);
  width: 380px;
  margin-top: 53px;
}

.content__button {
  font-weight: bold;
  font-size: 12px;
  line-height: 15px;
  letter-spacing: 2px;
  text-transform: uppercase;
  background-color: #FE7865;
  border: none;
  outline: none;
  color: #FFFFFF;
  padding: 30px 40px;
  margin-top: 50px;
}

.content__image {
  position: absolute;
  width: 430px;
  height: 596px;
  top: 0;
  right: 270px;
}

.content__reviews {
  display: block;
  width: 382px;
  height: 367px;
  background-color: #FFFFFF;
  position: absolute;
  top: 114px;
  right: 0;
  box-sizing: border-box;
  padding: 30px;
}

.reviews__title {
  font-weight: 500;
  font-size: 30px;
  line-height: 37px;
  margin: 0;
  position: relative;
}

.reviews__title:after {
  content: '';
  display: block;
  width: 68px;
  height: 1px;
  background-color: #FE7865;
  position: absolute;
  top: 48px;
}

.reviews__text {
  font-weight: normal;
  font-size: 14px;
  line-height: 28px;
  color:  rgba(44, 46, 63, 0.7);
  margin: 0;
  margin-top: 32px;
}

.reviews__user {
  margin-top: 35px;
  display: flex;
  align-content: center;
  align-items: center;
}

.reviews__user-name {
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: #2C2E3F;
  margin-left: 16px;
}

.tours__prices {
  margin: 0 auto;
  max-width: 1170px;
  margin-top: 202px;
}

.prices__container {
  display: flex;
}

.prices__subcontainer {
  display: flex;
}

.prices__item {
  display: flex;
  flex-direction: column;
  min-width: 370px;
  height: 672px;
  padding: 30px;
  border: 1px solid rgba(44, 46, 63, 0.3);
  box-sizing: border-box;
  border-radius: 6px;
  margin-right: 30px;
}

.prices__title {
  margin: 0;
  font-weight: 600;
  font-size: 28px;
  line-height: 38px;
  color: rgba(20, 21, 23, 0.7);
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.prices__subtitle {
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  color: #2C2E3F;
  margin: 0;
  margin-top: 40px;
}

.prices__subtitle:after {
  content: '';
  display: block;
  width: 310px;
  height: 1px;
  background-color: #FE7865;
  margin-top: 28px;
}

.prices__features {
  margin-top: 30px;
  list-style-type: none;
  padding-left: 0;
}

.prices__features-item {
  margin-bottom: 15px;
  display: flex;
  align-items: baseline;
  font-weight: normal;
  font-size: 16px;
  line-height: 32px;
  color: #2C2E3F;
}

.prices__features-item svg {
  margin-right: 12px;
}

.prices__button {
  width: 100%;
  height: 75px;
  background-color: #FE7865;
  border: none;
  outline: none;
  color: #FFFFFF;
  font-weight: bold;
  font-size: 12px;
  line-height: 15px;
  letter-spacing: 2px;
  text-transform: uppercase;
  margin-top: auto;
}

.prices__description {
  margin-left: 60px;
  margin-top: 115px;
}

.price__title {
  font-weight: 600;
  font-size: 55px;
  line-height: 90px;
  color: #2C2E3F;
  margin: 0;
}

.price__title:after {
  content: '';
  display: block;
  width: 175px;
  height: 3px;
  background-color: #FE7865;
  margin-top: 20px;
}

.price__subtitle {
  margin: 0;
  font-weight: normal;
  font-size: 16px;
  line-height: 27px;
  color: rgba(44, 46, 63, 0.7);
  margin-top: 30px;
}

.price__contact {
  margin-top: 60px;
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
}

.price__ask {
  font-weight: 500;
  font-size: 22px;
  line-height: 34px;
  color: #141517;
}

.price__tel {
  font-weight: normal;
  font-size: 20px;
  line-height: 32px;
  display: flex;
  position: relative;
}

.price__tel:before {
  content: '';
  display: block;
  width: 30px;
  height: 30px;
  background-image: url("../img/phone.svg");
  position: absolute;
  top: 2px;
  left: -40px;
}

@media(max-width: 1024px) {
  .tours__container {
    background-image: none;
    min-height: fit-content;
  }

  .tours__tubs {
    width: auto;
    padding: 0 21px;
  }

  .tours__content {
    margin-top: 30px;
  }

  .content__description {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 21px;
  }

  .content__title {
    font-weight: 600;
    font-size: 30px;
    line-height: 45px;
    text-align: center;
  }

  .content__title:after {
    display: none;
  }

  .content__subtitle {
    margin: 20px 21px 20px 21px;
    width: 100%;
    text-align: center;
    font-weight: 15px;
  }

  .content__button {
    margin-top: 0;
    padding: 19px 53px;
    font-weight: 500;
    font-size: 10px;
    line-height: 12px;
    letter-spacing: 2px;
  }

  .content__image {
    position: static;
  }

  .content__image {
    width: 100%;
    height: 415px;
    object-fit: cover;
    margin-top: 30px;
  }

  .tours__tubs {
    overflow-x: scroll;
    max-width: 100%;
  }

  .content__reviews {
    left: 50%;
    transform: translate(-50%, -50%);
    top: auto;
    bottom: -210px;
  }

  .tours__prices {
    margin: 80px 21px 0 21px;
  }

  .prices__description {
    order: -1;
    width: 100%;
    margin: 0;
    display: flex;
    align-items: center;
    align-content: center;
    flex-direction: column;
  }

  .prices__container {
    flex-direction: column;
  }

  .price__title {
    font-weight: 600;
    font-size: 30px;
    line-height: 45px;
    text-align: center;
  }

  .price__subtitle {
    font-weight: normal;
    font-size: 16px;
    line-height: 27px;
    text-align: center;
  }

  .price__title:after {
    display: none;
  }

  .price__contact {
    margin-top: 30px;
  }

  .price__ask {
    font-weight: 500;
    font-size: 18px;
    line-height: 34px;
  }

  .price__tel {
    font-weight: normal;
    font-size: 18px;
    line-height: 32px;
    text-align: center;
    text-decoration-line: underline;
    color: #FE7865;
  }

  .price__tel:before {
    display: none;
  }

  .prices__subcontainer {
    margin-top: 40px;
    padding: 0 50px;
    justify-content: center;
  }

  .prices__item {
    max-width: 288px;
    padding: 30px 21px;
    padding-bottom: 0;
    min-width: 288px;
  }

  .prices__item--second {
    margin-right: 0;
  }

  .prices__title {
    justify-content: center;
    flex-direction: column;
  }

  .prices__title-name {
    font-weight: 600;
    font-size: 24px;
    line-height: 34px;
    text-align: center;
  }

  .prices__title-price {
    font-weight: bold;
    font-size: 25px;
    line-height: 34px;
    text-align: center;
  }

  .prices__subtitle {
    margin-top: 11px;
    text-align: center;
  }

  .prices__subtitle:after {
    width: 100%;
  }

  .prices__features {
    margin-top: 20px;
  }

  .prices__features-item {
    font-weight: normal;
    font-size: 16px;
    line-height: 32px;
  }

  .prices__button {
    width: 288px;
    margin-right: -21px;
    font-weight: 500;
    font-size: 10px;
    line-height: 12px;
    margin-left: -22px;
    height: 50px;
  }
}

@media(max-width: 768px)  {
  .main__tours {
    margin-top: 40px;
  }

  .tours__content {
    margin-top: 24px;
  }

  .content__reviews {
    width: 268px;
    padding: 30px 20px;
    text-align: center;
  }

  .reviews__user {
    flex-direction: column;
  }

  .reviews__title:after {
    right: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .reviews__user-name {
    margin: 0;
    margin-top: 10px;
  }

  .content__title {
    font-weight: 600;
    font-size: 24px;
    line-height: 36px;
  }

  .content__button {
    width: 100%;
  }

  .content__image {
    margin-top: 50px;
  }

  .prices__subcontainer {
    flex-direction: column;
    padding: 0;
    align-items: center;
  }

  .tours__prices {
    margin-top: 110px;
  }

  .prices__item {
    margin-right: 0;
  }

  .prices__item--second {
    margin-top: 30px;
  }

  .prices__title {
    font-weight: 600;
    font-size: 24px;
    line-height: 34px;
  }

  .price__title {
    font-weight: 600;
    font-size: 24px;
    line-height: 36px;
  }

  .price__subtitle {
    font-weight: normal;
    font-size: 16px;
    line-height: 27px;
  }
}

